<!--
  Generated template for the DetallePropiedadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Propiedad Detalle</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card >
        <img [src]="propiedadDetalle.image" alt="" />
        <ion-card-content>
            <ion-card-title>{{propiedadDetalle.celular}}</ion-card-title>
              <p> {{propiedadDetalle.direccion}}</p>
              <p> {{propiedadDetalle.descripcion}}</p>
              <p> {{propiedadDetalle.telefono}}</p>
              <p>Longitud: {{propiedadDetalle.ubicacion.longitud}}</p>
              <p>Latitud: {{propiedadDetalle.ubicacion.latitud}}</p>
              <ion-row>
            <ion-col text-right>
                <button (click)="compartir(post.titulo, post.img)" ion-button clear small color="primary" icon-left>
            <ion-icon name="share-alt"></ion-icon>
            Compartir
            </button>
            </ion-col>
        </ion-row>
        </ion-card-content>          
    </ion-card>

  <img [src]="propiedadDetalle.imagen" alt="" />
</ion-content>
