<!--
  Generated template for the AgregarPropiedadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Agregar nueva Propiedad</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-list inset>

  <ion-item>
    <ion-label>Celular</ion-label>
    <ion-input type="number" [(ngModel)]="celular"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Telefono</ion-label>
    <ion-input type="number"  [(ngModel)]="telefono"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Dirección</ion-label>
    <ion-input type="text"  [(ngModel)]="direccion"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Descripcion</ion-label>
    <ion-textarea  [(ngModel)]="descripcion"></ion-textarea>
  </ion-item>
 <ion-item>
    <ion-label>Latitud</ion-label>
    <ion-textarea readonly="true" [(ngModel)]="latitud"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label>Longitud</ion-label>
    <ion-textarea readonly="true" [(ngModel)]="longitud"></ion-textarea>
  </ion-item>
</ion-list>
<ion-grid>
  <ion-row>
    <ion-col>
      <button ion-button block icon-left (click)="select_photo()"> 
        <ion-icon name="photos"></ion-icon>
        Seleccionar
      </button>
    </ion-col>
    <ion-col>
      <button ion-button block icon-left (click)="mostrar_camara()"> 
        <ion-icon name="camera"></ion-icon>
         Camara
      </button>
    </ion-col>
  </ion-row>
</ion-grid>
<button ion-button block icon-left (click)="get_coords()"> 
        <ion-icon name="map"></ion-icon>
         Agregar Coordenadas
</button>
 <button ion-button block icon-left (click)="agregar()"> 
        <ion-icon name="add"></ion-icon>
         Agregar Propiedad
  </button>
</ion-content>
