<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Gestion de Propiedades
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab middle right edge>
    <button ion-fab (click)="addProp()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-list>
    <ion-item-sliding *ngFor="let prop of listadoPropiedades; let i = index" >   
      <ion-item (click)="verDetalle(prop)">
        <h2>{{prop.celular}}</h2>
        <h3>{{prop.direccion}}</h3>
        <p>{{prop.descripcion}}</p>
      </ion-item>
        <ion-item-options side="left">
        <button ion-button color="warning" (click)="borrar(i)">
          <ion-icon name="trash"></ion-icon>
          Borrar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

